body {
  font-family: sans-serif;
}
input {
  border-radius: 8px;
  border:2px solid black
}

button {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
}
input {
  border-radius: 8px;
  border: none;
  padding: 4px 16px;
}

button:hover {
  background-color: #03662e;
  color: #fff;
  cursor: pointer;
}

.input-area {
  background-color: #20c96c;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.incomplete {
  border: 2px solid #aacfd0;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete {
  border: 2px solid #055255;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
}

.list-row {
  display: flex;
  align-items: center;
}
